/*custom header*/
header {
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 0 30px;
	background: var(--primaryColor);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

img.logo {
	width: 100px;
}

.dogs-list {
	font-size: 30px;
}
