/*custom header*/
header {
	position: fixed;
	width: 100%;
	height: 90px;
	padding: 0 30px;
	background: var(--primaryColor);
	z-index: 10;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*reset anchor style*/
a {
	color: inherit;
	text-align: inherit;
	font-weight: inherit;
}

img.logo {
	width: 90px;
}

.dogs-list {
	font-size: 30px;
}

.image-count {
	position: absolute;
	background: var(--primaryColor);
	top: 22px;
	right: 22px;
	font-size: 12px;
	padding: 3px;
	border-radius: 50%;
}
